@import '../../../styles/helpers.scss';

.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: -1.5rem;

  @include tablet-landscape {
    flex-wrap: nowrap;
    margin-top: -2rem;
  }
}

.chartWrapper {
  flex: 0 0 50%;
}
